<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86681265127-pb2be5p2ps0lghkf260kf4lnv68e5kiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86681265127-pb2be5p2ps0lghkf260kf4lnv68e5kiu</string>
	<key>API_KEY</key>
	<string>AIzaSyBzH7463iues5gnDqAYbF1EjVwLRUkWggY</string>
	<key>GCM_SENDER_ID</key>
	<string>86681265127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>fusion-services</string>
	<key>STORAGE_BUCKET</key>
	<string>fusion-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86681265127:ios:08198feeedb4ed0befd342</string>
</dict>
</plist>